<ion-card>
  <ion-item>
    <ion-avatar slot="start">
      <img *ngIf="storeHead" [src]="storeHead|trustUrl" (click)="showAll(storeHead)" />
    </ion-avatar>
    <ion-label slot="end">
      <input id="head" type="file" accept="image/*" hidden />
      <label for="head">修改头像</label>
    </ion-label>
  </ion-item>
  <ion-item>
    <label slot="start">店铺名</label>
    <ion-input *ngIf="storeName" placeholder="{{storeName}}" [(ngModel)]="modityName"></ion-input>
    <ion-icon name="chevron-forward-outline" slot="end" (click)="modifyStoreName()"></ion-icon>
  </ion-item>
  <ion-item>
    <label slot="start">粉丝</label>
    <span>{{attentionNum}}</span>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <label slot="start">状态</label>
    <label class="state">{{state}}</label>
    <ion-icon name="chevron-forward-outline" slot="end" (click)="skipClose()"></ion-icon>
  </ion-item>
  <ion-item>
    <label slot="start">店铺执照</label>
    <ion-icon name="chevron-forward-outline" slot="end" (click)="queryLicense($event)"></ion-icon>
  </ion-item>
  <div class="license" hidden>
    <input id="license" type="file" accept="image/*" multiple hidden (change)="upLicense($event)" />
    <label for="license">
      <div class="up">
        <ion-item>
          <label>
            上传
          </label>
        </ion-item>
      </div>
    </label>
    <ion-list *ngIf="licenses!=null">
      <div *ngFor="let license of licenses" class="imgL">
        <ion-avatar>
          <img [src]="license|trustUrl" (click)="showAll(license)" />
        </ion-avatar>
      </div>
    </ion-list>
  </div>
  <ion-item>
    <label slot="start">店铺账户</label>
    <ion-icon name="chevron-forward-outline" slot="end" (click)="skip('/business/store/account')"></ion-icon>
  </ion-item>
</ion-card>