* {
    font-family: cursive;
    font-size: 10px;
}

ion-icon {
    font-size: 30px;
}

ion-tab-button {
    --ripple-color: rgb(249, 210, 210);
    --color-selected: rgb(51, 2, 2);
    --color:rgb(160, 158, 158);
}