* {
    font-family: cursive;
}

.back {
    font-size: 20px;
}

.nodata {
    margin-top: 40%;
}

.nodata label {
    font-style: italic;
    font-weight: 600;
    font-size: 28px;
    margin-left: 24%;

}

.orderType {
    font-size: 18px;
}

ion-grid {
    background-color: #ffffff;
}

.checkedOrder {
    text-shadow: 1px 13px 10px #f98472;
    font-weight: 600;
}

.check,
.img,
.info {
    float: left;
    display: inline;
    margin-left: 5%;
}

.check {
    margin-top: 10%;
}

.img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.img img {
    width: 120px;
    //  height: 100%;
    border-radius: 10px;
}

.info {
    margin-top: 3%;
    width: 180px;
}

.info div label {
    display: inline-block;
}

.info div:first-child label:first-child {
    width: 180px;
    height: 30px;
    overflow: hidden;
}

.info div:first-child label:last-child {
    margin-top: 3%;
    margin-left: 2%;
    background: rgb(222, 222, 222);
    border-radius: 10px;
    font-weight: 500;
}

.info div:last-child {
    margin-top: 20px;

}

.info div:last-child label:first-child {
    font-size: 20px;
    color: #e45609;
}

.info div:last-child label:last-child {
    margin-left: 55%;
}

.overTime {
    float: left;
}

.overTime label {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    color: #e45609;
    font-weight: 600;
}

.overTime ion-button {
    float: right;
    margin-top: 10px;
    margin-left: 20px;
}

//按钮基本样式
ion-button {
    float: right;
    width: 20%;
    height: 30px;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-right: 5px;
    --background: #ff8103;
    border: #e45609;
    --color: #ffffff;
    --ripple-color: #790303;
    --transition: background-color 15ms linear;
}

.noTransButton ion-button:first-child {
    margin-left: 10%;
}

.noTransButton ion-button:last-child {
    margin-right: 10%;
}