<ion-header>
  <ion-toolbar>
    <ion-icon class="back" name="chevron-back-outline" slot="start" (click)="back()"></ion-icon>
    <div slot="end" (click)="toShowAlreadyCommentOrder()">
      <ion-label style="font-size: 18px;">我的评价</ion-label>
      <ion-badge color="primary" mode="ios">{{commentNum}}</ion-badge>
    </div>
  </ion-toolbar>
</ion-header>
<div class="change">
  <ion-grid fixed>
    <ion-row>
      <ion-col class="orderType" (click)="queryNoPay()"><label>待付款</label></ion-col>
      <ion-col class="orderType" (click)="queryNoTrans()"><label>待发货</label></ion-col>
      <ion-col class="orderType" (click)="queryNoTake()"><label>待收货</label></ion-col>
      <ion-col class="orderType" (click)="queryOver()"><label>订单评价</label></ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-content>
  <div *ngIf="orders">
    <ion-card *ngFor="let order of orders;index as i">
      <!-- 如果是待付款 -->
      <div *ngIf="flag==0">
        <div class="img" (click)="orderDetailInfo(i)">
          <img [src]="order.skuMap|trustUrl">
        </div>
        <div class="info">
          <div>
            <label *ngIf="commodityNames">{{getCommodityName(order.commodityId)}}</label>
            <label>{{order.skuValue}}</label>
          </div>
          <div>
            <label>{{order.totalAmount}}￥</label>
            <label>×{{order.commodityNum}}</label>
          </div>
        </div>
        <div *ngIf="overTimes" class="overTime">
          <label>剩余:{{overTimes[i].value|timepipe}}</label>
          <ion-button (click)="toPay(i)" expand="block" fill="clear" shape="round">
            去付款
          </ion-button>
        </div>
      </div>
      <!-- 如果是待发货-->
      <div *ngIf="flag==1">
        <div class="img">
          <img [src]="order.skuMap|trustUrl" (click)="orderDetailInfo(i)">
        </div>
        <div class="info">
          <div>
            <label *ngIf="commodityNames">{{getCommodityName(order.commodityId)}}</label>
            <label>{{order.skuValue}}</label>
          </div>
          <div>
            <label>{{order.totalAmount}}￥</label>
            <label>×{{order.commodityNum}}</label>
          </div>
        </div>
        <div class="noTransButton">
          <ion-button (click)="chanelOrder(order.orderNumber,order.odId)" expand="block" fill="clear" shape="round">
            取消订单
          </ion-button>
          <ion-button (click)="modifyAddress(order.orderNumber,order.odId)" expand="block" fill="clear" shape="round">
            修改地址
          </ion-button>
        </div>
      </div>
      <!-- 如果是待收货-->
      <div *ngIf="flag==2">
        <div class="img" (click)="orderDetailInfo(i)">
          <img [src]="order.skuMap|trustUrl">
        </div>
        <div class="info">
          <div>
            <label *ngIf="commodityNames">{{getCommodityName(order.commodityId)}}</label>
            <label>{{order.skuValue}}</label>
          </div>
          <div>
            <label>{{order.totalAmount}}￥</label>
            <label>×{{order.commodityNum}}</label>
          </div>
        </div>
        <div>
          <ion-button (click)="sureOrderOver(order.orderNumber,order.odId)" expand="block" fill="clear" shape="round">
            确认收货
          </ion-button>
        </div>
      </div>
      <!-- 如果是评价-->
      <div *ngIf="flag==3">
        <div class="img" (click)="orderDetailInfo(i)">
          <img [src]="order.skuMap|trustUrl">
        </div>
        <div class="info">
          <div>
            <label *ngIf="commodityNames">{{getCommodityName(order.commodityId)}}</label>
            <label>{{order.skuValue}}</label>
          </div>
          <div>
            <label>{{order.totalAmount}}￥</label>
            <label>×{{order.commodityNum}}</label>
          </div>
        </div>
        <div>
          <ion-button (click)="toShowCommentPublish(i)" expand="block" fill="clear" shape="round">
            发布评价
          </ion-button>
        </div>
      </div>
    </ion-card>
  </div>
  <div *ngIf="!orders" class="nodata">
    <label>没有相关信息</label>
  </div>
</ion-content>