* {
    font-family: cursive;
}

.back {
    font-size: 24px;
    margin-top: 8%;
    margin-left: 5%;
}

.icon {
    margin-left: 45%;
    margin-bottom: 10%;
}

.iconAli,
.iconWec {
    font-size: 60px;
}

.iconAli {
    color: rgb(0, 69, 159);
}

.iconWec {
    color: rgb(19, 123, 0);
}

.msg {
    margin-left: 40%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.msg label {
    font-family: cursive;
    font-size: 25px;
}

.pass{
    margin-left: 40%;
    margin-bottom: 5%;
}