* {
    font-family: cursive;

}

.back {
    font-size: 24px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

ion-radio {
    margin-top: 10px;
    --border-radius: 8px;
    --color: #3880ff;
    --color-checked: #3880ff;
    --inner-border-radius: 2px
}