<ion-icon class="back" name="close-outline" (click)="dismiss(-1)"></ion-icon>
<ion-content>
  <!-- 商家端订单排序条件 -->
  <div class="reorder" *ngIf="type==0">
    <ion-radio-group mode="ios" [allowEmptySelection]="false" (ionChange)="dismiss(0)" [(ngModel)]="checkReorderValue">
      <ion-item>
        <span>下单时间</span>
        <ion-radio slot="end" value="startTime"></ion-radio>
      </ion-item>

      <ion-item>
        <span>总计费用</span>
        <ion-radio slot="end" value="totalMoney"></ion-radio>
      </ion-item>

      <ion-item *ngIf="childType==3">
        <span>完单时间</span>
        <ion-radio slot="end" value="endTime"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
  <!-- 买家搜索排序条件 -->
  <div class="reorder" *ngIf="type==1">
    <ion-radio-group mode="ios" [allowEmptySelection]="false" (ionChange)="dismiss(0)" [(ngModel)]="checkReorderValue">
      <ion-item>
        <span>上架时间</span>
        <ion-radio slot="end" value="checkDate"></ion-radio>
      </ion-item>

      <ion-item>
        <span>价格</span>
        <ion-radio slot="end" value="price"></ion-radio>
      </ion-item>
      <!-- <ion-item>
        <span>好评率</span>
        <ion-radio slot="end" value="favorableRate"></ion-radio>
      </ion-item> -->
    </ion-radio-group>
  </div>

</ion-content>