* {
    font-family: cursive;
    font-size: 15px;
    color: rgb(190, 113, 65);
}

div {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    box-shadow: 1px -1px 1x black;
}

ion-button {
    --background: rgb(252, 244, 228);
}