* {
    font-family: cursive;
    font-size: 20px;
    color: rgb(147, 154, 0);
}

ion-card{
    margin-top: 10%;
    
}

ion-button {
    --color: rgb(205, 145, 145);
    --background: rgb(46, 2, 2);
}