* {
    font-family: cursive;
}

.outerMenuLog {
    font-size: 30px;
    margin-left: 89%;
    opacity: .5;
}

.salveMenu {
    margin-left: 22%;
}

.flag{
    font-size: 20px;
    font-style: italic;
    margin-top: 70%;
    margin-left: 35%;
}