<div class="outer">
  <div class="close" (click)="dismiss()">
    <ion-icon name="close-outline"></ion-icon>
  </div>
  <div class="pay alipy">
    <ion-icon *ngIf="accountObj.accaId==1" name="logo-alipay"></ion-icon>
  </div>
  <div class="pay wechat">
    <ion-icon *ngIf="accountObj.accaId==2" name="logo-wechat"></ion-icon>
  </div>
  <ion-card class="inf">
    <div>
      <ion-item>
        <label slot="start">商户号</label>
        <div>
          <ion-input slot="start" type="text" [(ngModel)]="accountObj.accountNo"></ion-input>
        </div>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <label slot="start">密钥</label>
        <div>
          <ion-input slot="start" type="text" [(ngModel)]="accountObj.accountKey"></ion-input>
        </div>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <label>默认收款</label>
        <ion-toggle slot="end" [(ngModel)]="isCollection"></ion-toggle>
      </ion-item>
    </div>
  </ion-card>
  <ion-button (click)="modifyAccount()" expand="block" fill="clear" shape="round">
    提交
  </ion-button>
</div>