* {
    font-family: cursive;
}

.comment {
    width: 370px;
    margin-left: 11.5px;
    margin-right: 11.5px;
    margin-top: 10px;
    border-radius: 15px;
    border-bottom: 1px solid rgb(146, 146, 146);
    padding: 12px;
    float: left;
}

.head {
    height: 66px;
}

.head div {
    display: inline-block;
}

.head .left {
    float: left;
    margin-bottom: 20px;
}

.head .midd {
    float: left;
    margin-bottom: 20px;
}

.head .rig {
    float: right;
}