<ion-header>
  <ion-toolbar>
    <ion-icon style="font-size: 20px;" name="chevron-back-outline" slot="start"
      (click)="this.modalController.dismiss()">
    </ion-icon>
    <ion-title>价格调整</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item *ngFor="let sku of skuList;index as i;">
    <ion-avatar slot="start">
      <img [src]="sku.skuMap|trustUrl" />
    </ion-avatar>
    <span>{{sku.skuValue}}</span>
    <ion-input type="text" slot="end" [disabled]="isShowModify[i]" [(ngModel)]="newPrices[i]"></ion-input>
    <ion-button slot="end" [hidden]="!isShowModify[i]" (click)="modify(i)" expand="block" fill="clear" shape="round">
      修改
    </ion-button>
    <ion-button slot="end" [hidden]="isShowModify[i]" (click)="submitSimple(i)" expand="block" fill="clear"
      shape="round">
      提交
    </ion-button>
    <ion-button slot="end" [hidden]="isShowModify[i]" (click)="cancel(i)" expand="block" fill="clear" shape="round">
      取消
    </ion-button>
  </ion-item>
</ion-content>