<ion-content>
    <div class="outer">
        <!-- 头部个人信息块 -->
        <div class="inf">
            <div class="avatar">
                <ion-avatar>
                    <img *ngIf="ui.userInf!=null" [src]="ui.userInf.consumerHead|trustUrl" />
                </ion-avatar>
            </div>
            <div *ngIf="ui.userInf!=null" class="state">
                <!-- 用户状态信息，如果已经登录就显示信息 -->
                {{ui.userInf.consumerNickname}}
            </div>
            <div class="icons">
                <!-- 设置图标 -->
                <ion-icon name="settings-outline" (click)="openSet()"></ion-icon>
                <!-- 入驻商家图标 -->
                <ion-icon name="paw-outline" id="enter" (click)="toStore()">
                </ion-icon>
                <ion-label>{{enter}}</ion-label>
            </div>
        </div>
        <!-- 商品收藏、店铺关注、足迹 -->
        <div class="extra">
            <ion-tab-bar>
                <ion-tab-button>
                    <ion-label>商品收藏</ion-label>
                    <ion-icon name="egg-outline"></ion-icon>
                </ion-tab-button>
                <ion-tab-button>
                    <ion-label>关注店铺</ion-label>
                    <ion-icon name="leaf-outline"></ion-icon>
                </ion-tab-button>
                <ion-tab-button>
                    <ion-label>浏览足迹</ion-label>
                    <ion-icon name="finger-print-outline"></ion-icon>
                </ion-tab-button>
            </ion-tab-bar>
        </div>
        <!-- 订单查询块 -->
        <div>
            <ion-card class="order">
                <ion-grid>
                    <ion-row>
                        <ion-col (click)="toOrder(0)">
                            <ion-icon name="wallet-outline"></ion-icon>
                            <ion-label>待付款</ion-label>
                            <label *ngIf="noPayNum>0" class="num">{{noPayNum}}</label>
                        </ion-col>
                        <ion-col (click)="toOrder(1)">
                            <ion-icon name="briefcase-outline"></ion-icon>
                            <ion-label>待发货</ion-label>
                            <label *ngIf="payNum>0" class="num">{{payNum}}</label>
                        </ion-col>
                        <ion-col (click)="toOrder(2)">
                            <ion-icon name="airplane-outline"></ion-icon>
                            <ion-label>待收货</ion-label>
                            <label *ngIf="noTakeNum>0" class="num">{{noTakeNum}}</label>
                        </ion-col>
                        <ion-col (click)="toOrder(3)">
                            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                            <div class="center">
                                <ion-label>评价</ion-label>
                            </div>
                            <label *ngIf="noCommentNum>0" class="num">{{noCommentNum}}</label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </div>
        <!-- 最近看的店铺商品 -->
    </div>
</ion-content>