<!-- 头部标签 -->
<div class="header">
  <div>
    <ion-label class="log">SpiritRay</ion-label>
    <ion-icon id="sea" name="search" slot="end" class="sea"></ion-icon>
  </div>
  <ion-card>
  </ion-card>
  <div class="real">
    <ion-label>SpiritRay</ion-label>
    <ion-icon id="realSea" name="search" slot="end" routerLink="/consumer/search"></ion-icon>
  </div>
</div>
<ion-content>
  <!-- 轮播图 -->
  <div *ngIf="slideShows.length>0"
    style="width: 98%;height:200px;overflow: hidden; margin-left: 1%;margin-right: 1%;margin-top: 5px;border-radius: 5px;box-shadow: 0px 0px 10px rgb(255, 137, 137);">
    <ion-slides pager="true" [options]="slideOpts" #slide1 (ionSlideTouchEnd)="slideDidChange()">
      <ion-slide *ngFor="let slideShow of slideShows;index as i">
        <img style="width: 2000px;" [src]="slideShow.mapUrl|trustUrl" (click)="toBeforeStore(slideShow.storeId)">
      </ion-slide>
    </ion-slides>
  </div>
  <!-- 首页商品 -->
  <div *ngIf="commoditys">
    <div class="lbox">
      <div *ngFor="let commodity of commoditys;let i=index;let odd=odd;let even = even;">
        <div class="commodity1" *ngIf="commoditys[i]&& odd" (click)="toCommodity(commoditys[i].commodityId)">
          <div class="head">
            <img [src]="commoditys[i].masterMap|trustUrl" />
          </div>
          <div class="body">
            <label class="commodityName">{{commoditys[i].commodityName}}</label>
            <label *ngIf="commoditys[i].priceMin==commoditys[i].priceMax"
              class="price">{{commoditys[i].priceMin}}￥</label>
            <label *ngIf="commoditys[i].priceMin!=commoditys[i].priceMax"
              class="price">{{commoditys[i].priceMin}}-{{commoditys[i].priceMax}}￥</label>
            <span class="rate">好评率:{{commoditys[i].favorableRate*100}}%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="rbox">
      <div *ngFor="let commodity of commoditys;let i=index;let odd=odd;let even = even;">
        <div class="commodity2" *ngIf="commoditys[i]&&even" (click)="toCommodity(commoditys[i].commodityId)">
          <div class="head">
            <img [src]="commoditys[i].masterMap|trustUrl" />
          </div>
          <div class="body">
            <label class="commodityName">{{commoditys[i].commodityName}}</label>
            <label *ngIf="commoditys[i].priceMin==commoditys[i].priceMax"
              class="price">{{commoditys[i].priceMin}}￥</label>
            <label *ngIf="commoditys[i].priceMin!=commoditys[i].priceMax"
              class="price">{{commoditys[i].priceMin}}-{{commoditys[i].priceMax}}￥</label>
            <span class="rate">好评率:{{commoditys[i].favorableRate*100}}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 无限滚动组件 -->
  <ion-infinite-scroll threshold="80px" (ionInfinite)="loadData($event)" #IonInfiniteScroll>
    <ion-infinite-scroll-content loadingSpinner="circular" loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="dataover" hidden>
    <label>已经到底了....</label>
  </div>
</ion-content>
<ng-template #noslide>
  <div hidden></div>
</ng-template>