<!-- 头部标签 -->
<div class="header">
  <div>
    <ion-label class="log">SpiritRay</ion-label>
    <ion-icon id="sea" name="search" slot="end" class="sea"></ion-icon>
  </div>
  <ion-card>
  </ion-card>
  <div class="real">
    <ion-label>SpiritRay</ion-label>
    <ion-icon id="realSea" name="search" slot="end" routerLink="/search"></ion-icon>
  </div>
</div>
<ion-content>
  <!-- 轮播图 -->
  <ion-slides #homeSlides class="slides" *ngIf="slideShows.length>0">
    <ion-slide *ngFor="let slideShow of slideShows">
      <ion-card>
        <img [src]="slideShow.mapUrl|trustUrl" (click)="enterStore(slideShow.storeId)" />
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- 首页商品 -->
  <div fixed *ngIf="commoditys">
    <div class="lbox">
      <div *ngFor="let commodity of commoditys;let i=index;let odd=odd;let even = even;">
        <div class="commodity1" *ngIf="commoditys[i]&& odd" (click)="toCommodity(commoditys[i].commodityId)">
          <div class="head">
            <img [src]="commoditys[i].masterMap|trustUrl" />
          </div>
          <div class="body">
            <label class="commodityName">{{commoditys[i].commodityName}}</label>
            <label *ngIf="commoditys[i].priceMin==commoditys[i].priceMax"
              class="price">{{commoditys[i].priceMin}}￥</label>
            <label *ngIf="commoditys[i].priceMin!=commoditys[i].priceMax"
              class="price">{{commoditys[i].priceMin}}-{{commoditys[i].priceMax}}￥</label>
            <span class="rate">好评率:{{commoditys[i].favorableRate*100}}%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="rbox">
      <div *ngFor="let commodity of commoditys;let i=index;let odd=odd;let even = even;">
        <div class="commodity2" *ngIf="commoditys[i]&&even" (click)="toCommodity(commoditys[i].commodityId)">
          <div class="head">
            <img [src]="commoditys[i].masterMap|trustUrl" />
          </div>
          <div class="body">
            <label class="commodityName">{{commoditys[i].commodityName}}</label>
            <label *ngIf="commoditys[i].priceMin==commoditys[i].priceMax"
              class="price">{{commoditys[i].priceMin}}￥</label>
            <label *ngIf="commoditys[i].priceMin!=commoditys[i].priceMax"
              class="price">{{commoditys[i].priceMin}}-{{commoditys[i].priceMax}}￥</label>
            <span class="rate">好评率:{{commoditys[i].favorableRate*100}}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 无限滚动组件 -->
  <ion-infinite-scroll threshold="80px" (ionInfinite)="loadData($event)" #IonInfiniteScroll>
    <ion-infinite-scroll-content loadingSpinner="circular" loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="dataover" hidden>
    <label>已经到底了....</label>
  </div>
</ion-content>