* {
    font-family: cursive;
}

.iconAli,
.iconWec {
    font-size: 40px;
}

.iconAli {
    color: rgb(0, 69, 159);
}

.iconWec {
    color: rgb(21, 131, 2);
}

.msg {
    font-style: italic;
    font-size: 25px;
    margin-top: 25%;
    margin-left: 30%;
}