* {
    font-family: cursive;
}

ion-tab-button {
    --background-focused: #F9C0C0;
    --background-focused-opacity: .1;
    --color: rgb(182, 137, 137);
    --color-focused: #918473;
    --color-selected: #fe7425;
    --ripple-color: ##F9C0C0;
}

ion-icon {
    color: rgb(146, 140, 140);
    font-size: 28px;
}

.checked {
    color: #fe7425;
}