<!-- 切换首页、购物车、个人中心的路由出口 -->
<ion-router-outlet></ion-router-outlet>
<!-- 底部标签导航条 -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="platform" selected="true">
      <ion-label>平台</ion-label>
      <ion-icon name="balloon-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="shop">
      <ion-label>店铺</ion-label>
      <ion-icon name="storefront-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="wares">
      <ion-label>商品</ion-label>
      <ion-icon name="grid-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>